$mrh1: 40px;
body {
    margin: 0 auto;
    background: #fff;
    margin-bottom: 60px;
}

.wrapper {
    background: #fff;
}

html {
    font-size: 1rem;
    position: relative;
    min-height: 100%;
}

* {
    margin: 0 auto;
    color: black;
}

.textBlock {
    position: absolute;
    z-index: 1;
    top: 47%;
    text-align: center;
    opacity: 0.7;
    & h2 {
        line-height: 0.8;
    }
}

.cardVariant {
    & img {
        width: 100%;
        height: 100%;
    }
}

.contactQuestion {
    padding-bottom: 10px;
}

nav {
    background: linear-gradient(to top, #bbe0f1, #e0ffff);
    & div {
        & a {
            & img {
                width: 30px;
            }
        }
        & button {
            & a {
                & img {
                    width: 30px;
                }
            }
        }
    }
}

.callMe {
    margin-right: 20px;
    & a {
        & img {
            padding: 2px;
            width: 30px;
        }
    }
}

.review {
    & img {
        width: 140px;
        height: 140px;
        border-radius: 100px;
    }
}

.illustration {
    margin-bottom: $mrh1;
    margin-top: $mrh1;
    & h2 {
        margin-bottom: 50px;
        text-align: center;
    }
}

.carousel-caption {
    & h5 {
        color: white;
    }
    & p {
        color: white;
    }
}

.reviews {
    margin-bottom: $mrh1;
    & h2 {
        margin-bottom: 50px;
        text-align: center;
    }
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: white;
}

.block_video {
    display: flex;
    justify-content: center;
    flex-flow: column;
    & h1 {
        margin: $mrh1;
        text-align: center;
    }
    & iframe {
        width: 40vmax;
        height: 25vmax;
        margin-bottom: $mrh1;
    }
}

.contactInfo {
    & a {
        & img {
            width: 30px;
            margin-right: 20px;
        }
    }
}

.contactBlock {
    padding-top: $mrh1;
    padding-bottom: $mrh1;
    & .row {
        & .col {
            & span {
                font-weight: bold;
            }
            & h2 {
                margin-bottom: 50px;
            }
            & img {
                margin-right: 20px;
                width: 20px;
            }
            & :nth-child(4) {
                margin-bottom: 100px;
            }
            & :nth-child(5) {
                & p {
                    & a {
                        & :hover {
                            opacity: 0.5;
                        }
                        & img {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}

.col-md-7 {
    & h3 {
        margin-top: 7rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)
@media (max-width: 576px) {
    .textBlock {
        top: 29%;
    }
    .contactInfo {
        display: none;
    }
}

@media (min-width: 768px) {}

@media (max-width: 991px) {
    .contactInfo {
        display: none;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}